
{% extends 'base.html' %}

{% block body %}
{% if cart %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        
            {% for melon in cart %}
            <tr>
                <td>{{ melon.common_name }}</td>
                <td>{{ melon.quantity }}</td>
                <td>${{ melon.price }}</td>
                <td>${{ melon.total_price }}</td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>

    <h3>Total: ${{ total_price }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% else %}
    <h3>Cart is empty</h3>
{% endif %}
{% endblock %}
